*{
    margin:0;
    padding: 0;
}
body{
    background-image: url(./SRC/bg.jpg);
    background-size: cover;
    height: 100vh;
    width:100%;
    color:white;
    overflow-x:hidden ;
}
 /* Heading */
 .animated_rainbow {
     text-align: center;
     margin: 5rem;
    font-size: 42px;
    font-family: Arial Black, Gadget, sans-serif;
    background-image: -webkit-linear-gradient(left, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2a, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d5ff, #0af, #0080ff, #05f, #002aff, #00f, #2b00ff, #50f, #8000ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
    -webkit-animation: animatedBackground_a 1s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    background-clip: text;
}

@keyframes animatedBackground_a {
    0% { background-position: 0 0 }
    100% { background-position: -500px 0 }
}

/* Body */

.container{
    margin-top:3rem;
    height: 10rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.key{
    
    height: 120px;
    width:120px;
    border:2px solid black;
    text-align: center;
    transition: all 0.5s ease;
    background-color: rgba(113, 161, 209, 0.3);
}
.playing{
    border-left:4px solid rgb(103, 248, 248);
    border-right:4px solid rgb(103, 248, 248);
    background-color: rgba(98, 158, 185, 0.4);
}

kbd{
    font-size: 50px;
}
span{
    display: block;
}


